.page-container {
  background: #add8e6;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  max-width: 800px;
  overflow: hidden;
}

.pokemon-image {
  padding-top: 70px;
  flex: 0 0 40%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.pokemon-info {
  flex: 0 0 60%;
  padding: 20px;
}

.title {
  font-size: 48px;
  margin-bottom: 10px;
}

.details {
  font-size: 32px;
  margin-bottom: 10px;
}

.list-item {
  font-size: 28px;
}
