.product-listing1 {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #fdd819, #e80505);
  /* to occupy the entire space - 100 percent of view port  */
  min-height: 100vh;
}

.centered1 {
  margin-bottom: 20px;
}

.pokemon-grid1 {
  display: grid;
  /* 1fr - fractional unit */
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  justify-content: center;
}

.pokemon-card1 {
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  width: 270px;
  height: 370px;
}

.pokemon-card1:hover {
  transform: scale(1.05);
}
